/* Styles par défaut */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

html,
body:not(.dark-mode) {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    overflow-x: hidden;
    position: sticky;
    --background: #090B0C;
    --container: #121212;
    --box: #222222;
    --border: #787878;
    --borderhover: #c9c9c9;
    --content: rgb(235, 233, 252, 1);
    --contenttransparent: rgba(235, 233, 252, 0.5);
    --overlayon: rgba(0, 0, 0, 0.8);
    --overlayoff: rgba(0, 0, 0, 0.0);
    transition: all ease 0.4s;
    display: table-row-group;
}

.dark-mode {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    overflow-x: hidden;
    position: sticky;
    --background: #f6f4f3;
    --container: #FBFBFE;
    --box: #FBFBFE;
    --border: #cacaca;
    --borderhover: #515151;
    --content: rgb(5, 3, 21, 1);
    --contenttransparent: rgba(5, 3, 21, 0.5);
    --overlayon: rgba(0, 0, 0, 0.8);
    --overlayoff: rgba(255, 255, 255, 0.0);
    transition: all ease 0.4s;
    display: table-row-group;
}

#mouse {
    height: 25px;
    width: 25px;
    background-color: var(--content);
    border-radius: 50%;
    position: fixed;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: background-color ease 0.4s;
    /*cursor: none;*/
}

a:link {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

a:visited {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

a:active {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

.mobile {
    display: none;
}

.mobilefooter {
    display: none;
}

.desk {
    display: yes;
}

.line {
    overflow: hidden;
    position: relative;
}

.word {
    position: relative;
}













/* Nav */

nav {
    display: flex;
    justify-content: unset;
}

nav h3 {
    margin-top: 35px;
    margin-right: 2vw;
    font-family: Inter;
    font-size: large;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: -1px;
    display: inline-block;
    color: var(--content);
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.3s;
    -webkit-tap-highlight-color: transparent;
	overflow: hidden;
	transform: translateY(0);

    &:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: var(--content);
		transition: all 750ms ease;
	}
	
	&:before {
		transform: translateX(-200%);
	}
	
	&:hover {
		&:before {
			transform: translateX(0%);
		}
		&:after {
			transform: translateX(200%);
		}
	}
}

.arrowicontop {
    width: auto;
    height: 12px;
    fill: var(--content);
    transition: all ease 0.4s;
}

.arrowiconbot {
    width: auto;
    height: 12px;
    fill: var(--content);
}


















/* Footer */

.darkcircle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--content);
    align-self: center;
    cursor: pointer;
    transition: all ease 0.4s;
}

footer {
    height: 100%;
    width: auto;
    margin: 0vw 15vw;
}

footer h3 {
    font-family: Inter;
    display: inline;
    font-size: large;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

footer h4 {
    font-family: Inter;
    display: inline;
    font-size: large;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: right;
    margin-left: 1vw;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#socials br {
    display: none;
}

#legal2 br {
    display: none;
}

footer #line1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer #line2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer #socials {
    padding-top: 0.8vw;
}

footer #legal2 {
    padding-top: 0.8vw;
}

footer h2 {
    font-family: Inter;
    font-size: large;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: -1px;
    margin-right: 1vw;
    display: inline-block;
    color: var(--content);
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.3s;
    -webkit-tap-highlight-color: transparent;
	overflow: hidden;
	transform: translateY(0);

    &:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: var(--content);
		transition: all 750ms ease;
	}
	
	&:before {
		transform: translateX(-200%);
	}
	
	&:hover {
		&:before {
			transform: translateX(0%);
		}
		&:after {
			transform: translateX(200%);
		}
	}
}

#marge {
    height: 5vw;
}

#extra {
    position: absolute;
    left: 50%;
    bottom: 5vw;
    transform: translate(-50%, 0%);
    font-family: Inter;
    font-size: smaller;
    font-weight: 400;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#extra p {
    color: var(--contenttransparent);
    transition: all ease 0.4s;
}










/* Vimeo popup */

/* overlay at start */
.mfp-fade.mfp-bg {
    background: var(--overlayoff);
    backdrop-filter: blur(0px);
    opacity: 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    background: var(--overlayon);
    backdrop-filter: blur(2px);
    opacity: 1;
}

.mfp-content {
    z-index: 99999999999999999;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    background: var(--overlayoff);
    backdrop-filter: blur(0px);
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

/* disable cross */
.mfp-iframe-holder .mfp-close {
    opacity: 0;
}

.mfp-bg {
    z-index: 100;
}

.player {
    z-index: 999999;
}



















/* Index */

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../images/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -99;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

#container {
    height: 100%;
    width: auto;
    background-color: var(--container);
    padding: 5vw 5vw 3vw 5vw;
    margin: 0vw 5vw 5vw 5vw;
    border: solid;
    border-color: var(--border);
    border-width: 1px;
    border-radius: 20px;
    transition: all ease 0.4s;
}





















/* Index header */

#header {
    display: flex;
    justify-content: space-between;
}

#content {
    width: 50%;
}

#reel {
    width: 50%;
    cursor: pointer;
    transition: all ease 0.4s;
    border-radius: 12px;
}

#reel:hover {
    translate: 0 -0.8vw;
    transition: all ease 0.4s;
}

#video {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    outline: solid;
    outline-width: 1px;
    outline-color: var(--border);
    transition: all ease 0.4s;
}

#video:hover {
    transition: all ease 0.4s;
    outline-color: var(--borderhover);
}

#profil {
    display: flex;
    justify-content: flex-start;
}

#nickname {
    padding-left: 20px;
    align-content: center;
}

.available {
    display: flex;
}

#pp {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid;
    border-color: var(--border);
    border-width: 1px;
    z-index: 1;
}

#storie {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

#header h1 {
    font-family: Inter;
    font-size: x-large;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--content);
    padding-bottom: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#header h5 {
    font-family: Inter;
    font-size: medium;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    opacity: 50%;
    padding-left: 7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#description h2 {
    font-family: Inter;
    font-size: large;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    width: 100%;
    transition: all ease 0.4s;
}

#description h3 {
    font-family: Inter;
    font-size: large;
    font-weight: 400;
    letter-spacing: -1px;
    margin-right: 11vw;
    color: var(--content);
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    width: 100%;
    transition: all ease 0.4s;

}

#description h4 {
    font-family: Inter;
    font-size: large;
    font-weight: 400;
    letter-spacing: -1px;
    margin-right: 13vw;
    color: var(--content);
    padding-top: 15px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    width: 100%;
    transition: all ease 0.4s;
}

.pulse {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #00B22B;
    box-shadow: #00b22a7d;
    animation: pulse 2s infinite;
    align-self: center;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #00b22a7d;
    }

    70% {
        -webkit-box-shadow: 0 0 0 5px #00b22a00;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 #00b22a00;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #00b22a7d;
        box-shadow: 0 0 0 0 #00b22a7d;
    }

    70% {
        -moz-box-shadow: 0 0 0 5px #00b22a00;
        box-shadow: 0 0 0 5px #00b22a00;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #00b22a00;
        box-shadow: 0 0 0 0 #00b22a00;
    }
}


















/* Index content */

#work {
    height: auto;
    /* Hauteur automatique */
    display: flex;
    padding-top: 5vw;
    flex-wrap: wrap;
    /* Permet aux éléments de passer à la ligne */
    justify-content: space-between;
}

#work .box {
    height: 100%;
    /* Hauteur fixe pour les boîtes */
    width: calc(33.33% - 2vw);
    /* Largeur calculée pour prendre environ un tiers de l'espace, moins un espace de marge */
    margin-bottom: 2vw;
    /* Espacement entre les boîtes */
    position: relative;
    background-color: var(--box);
    border: solid;
    border-color: var(--border);
    border-width: 1px;
    border-radius: 12px;
    cursor: pointer;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

#work .box:hover {
    translate: 0 -0.8vw;
    transition: all ease 0.4s;
    border-color: var(--borderhover);
}

#cover {
    width: 100%;
    object-position: center;
}

.box video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    transition: all ease 0.4s;
}

.box img {
    position: absolute;
    width: 100%;
    z-index: 99;
    object-fit: contain;
    pointer-events: none;
    transition: all ease 0.5s;
    border-radius: 12px;
}

#work .box:hover img {
    opacity: 0;
}

#work .box .project {
    position: absolute;
    margin: 2vw;
    transition: all ease-out 0.3s;
}

#work h3 {
    font-family: Inter;
    font-size: large;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    padding-top: 0.8vw;
    padding-left: 1.2vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#work .box h5 {
    font-family: Inter;
    font-size: medium;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#work .box h6 {
    font-family: Inter;
    font-size: medium;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: right;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#details {
    padding: 0.3vw 1.2vw 1.2vw 1.2vw;
    display: flex;
    justify-content: space-between;
}













/* About */























@media screen and (max-width: 1280px) {
    #work .box {
        width: calc(50% - 2vw);
        /* Pour les écrans plus petits, deux boîtes par ligne */
        margin-bottom: 4vw;
        /* Espacement entre les boîtes */
    }

    #container {
        padding: 5vw 5vw 3vw 5vw;
    }
}

@media screen and (max-width: 740px) {
    #work .box {
        width: calc(100%);
        /* Pour les écrans très petits, une boîte par ligne */
        margin-bottom: 5vw;
        /* Espacement entre les boîtes */
    }

    #container {
        padding: 5vw 5vw 0vw 5vw;
    }
}





#avatar a {
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
}



@media screen and (max-width: 1280px) {
    #header {
        display: flex;
        justify-content: space-between;
    }

    #reel {
        width: calc(50% - 2vw);
    }

    #video {
        object-fit: cover;
        height: -webkit-fill-available;
    }

    #description h3 br {
        display: none;
    }

    #description h3 {
        margin-right: 5vw;
    }

    #details {
        padding: 0.5vw 1.5vw 1.5vw 1.5vw;
    }

    #work h3 {
        padding-top: 1vw;
        padding-left: 1.5vw;
    }

    footer h4 {
        line-height: 30px;
    }

    footer #socials {
        padding-top: 0.2vw;
    }

    footer #legal2 {
        padding-top: 0vw;
    }

    footer h2 {
        margin-right: 1vw;
        line-height: 30px;
    }

    #socials br {
        display: unset;
    }

    #legal2 br {
        display: unset;
    }
}

@media screen and (max-width: 740px) {
    #header {
        justify-content: space-between;
    }

    #mouse {
        visibility: hidden;
    }

    #content {
        width: 100%;
    }

    nav {
        justify-content: space-between;
        margin: 0 5vw;
    }

    nav h3 {
        margin-right: 0%;
        margin-bottom: 10vw;
        margin-top: 2vw;
    }

    .desk {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .mobilefooter {
        display: grid;
    }

    #avatar {
        position: relative;
    }

    #avatarcenter {
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #pp {
        position: absolute;
        border: none;
        outline: solid;
        outline-color: var(--container);
        outline-width: 4px;
        z-index: 1;
        width: 87px;
        height: 87px;
    }

    #description h3 {
        margin-right: 0;
    }

    #work {
        padding-top: 10vw;
    }

    #work .box {
        margin-bottom: 10vw;
    }

    #details {
        padding: 1vw 3vw 3vw 3vw;
    }

    #work h3 {
        padding-top: 2vw;
        padding-left: 3vw;
    }

    footer {
        height: 100%;
        width: auto;
        margin: 0vw 5vw;
        padding-bottom: 5vw;
    }

    footer h3 {
        font-family: Inter;
        display: inline;
        font-size: large;
        font-weight: 400;
        letter-spacing: -1px;
        color: var(--content);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: all ease 0.4s;
    }

    footer h4 {
        font-family: Inter;
        display: inline;
        font-size: large;
        font-weight: 400;
        letter-spacing: -1px;
        text-align: right;
        margin-left: 0vw;
        color: var(--content);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: all ease 0.4s;
    }

    #socials br {
        display: none;
    }

    #legal2 br {
        display: none;
    }

    footer #line1 {
        width: 100%;
        display: grid;
        justify-content: center;
        padding-bottom: 5px;
    }

    footer #line2 {
        width: 100%;
        display: grid;
        justify-content: center;
    }

    footer #socials {
        padding-top: 0.8vw;
        padding-bottom: 6px;
    }

    footer #legal2 {
        padding-top: 0vw;
    }

    #marge {
        height: 5vw;
    }

    #email {
        text-align: center;
    }

    #legal1 {
        text-align: center;
    }

    #extra {
        display: contents;
        text-align: center;
    }

    #darkmode {
        display: disable;
        padding-bottom: 10vw;
        padding-top: 5vw;
    }

    .footerdarkmode {
        display: grid;
    }

    .darkcircle {
        position: relative;
    }

    #avatar a {
        pointer-events: all;
    }

}



.pt {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
}

.pt_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
}

.pt_text h2 {
    overflow: hidden;
    padding-bottom: 16rem;
    font-family: Inter;
    font-size: x-large;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--content);
    padding-bottom: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--background);
    z-index: 99999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--content);
    gap: 5px;
}

#loader h3 {
    display: inline-block;
    padding-bottom: 16rem;
    font-family: Inter;
    font-size: x-large;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--content);
    padding-bottom: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    visibility: hidden;
}

.transiline {
    display: block;
    overflow: hidden;
    position: relative;
}