/* Styles par défaut */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

html,
body:not(.dark-mode) {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    overflow-x: hidden;
    position: sticky;
    --background: #090B0C;
    --container: hsla(0, 0%, 7%, 0.25);
    --containersolid: hsla(0, 0%, 7%);
    --box: hsl(0deg 0% 7.45%);
    --border: #303030;
    --borderhover: #606060;
    --content: rgb(235, 233, 252, 1);
    --contenttransparent: rgba(235, 233, 252, .5);
    --blurbg: rgba(219, 219, 219, .25);
    --contenthover: rgba(235, 233, 252, 0.01);
    --overlayon: rgba(0, 0, 0, 0.8);
    --overlayoff: rgba(0, 0, 0, 0.0);
    --line: hsl(0 0% 95% / 0.1);
    transition: all ease 0.4s;
    display: table-row-group;
}

.dark-mode {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    overflow-x: hidden;
    position: sticky;
    --background: #f0f0f0;
    --container: hsla(0, 0%, 93%, 0.25);
    --containersolid: hsl(0deg 0% 92.16%);
    --box: hsl(0deg 0% 92.16%);
    --border: #c0c0c0;
    --borderhover: #909090;
    --content: rgb(5, 3, 21, 1);
    --contenttransparent: rgba(5, 3, 21, 0.5);
    --blurbg: rgba(219, 219, 219, .25);
    --contenthover: rgba(5, 3, 21, 0.01);
    --overlayon: rgba(0, 0, 0, 0.8);
    --overlayoff: rgba(255, 255, 255, 0.0);
    --line: hsla(0, 0%, 5%, 0.1);
    transition: all ease 0.4s;
    display: table-row-group;
}


#mouse {
    height: 25px;
    width: 25px;
    background-color: var(--content);
    border-radius: 50%;
    position: fixed;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* cursor: none; */
}

#mouse h5 {
    font-family: Inter;
    font-size: 0.333rem;
    font-weight: 600;
    color: var(--containersolid);
    opacity: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color ease .4s;
}

a:link {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

a:visited {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

a:active {
    color: var(--content);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
}

.mobile {
    display: none;
}

.mobilefooter {
    display: none;
}

.desk {
    display: yes;
}

.tablet {
    display: none;
}

.line {
    overflow: hidden;
    position: relative;
}

.word {
    position: relative;
}

::selection {
    /* Change highlight background color to black */
    background: var(--content);
    /* Change highlight text color to red */
    color: var(--background);
}


/* Responsive */

@media screen and (max-width: 1280px) {

    .tablet {
        display: block;
    }
}

@media screen and (max-width: 740px) {

    #mouse {
        visibility: hidden;
    }

    .desk {
        display: none;
    }

    .tablet {
        display: none;
    }

    .mobile {
        display: flex;
    }

}
























/* Load & transition */

.pt {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
}

.pt_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
}

.pt_text h2 {
    overflow: hidden;
    padding-bottom: 16rem;
    font-family: Inter;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--content);
    padding-bottom: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--background);
    z-index: 99999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--content);
    gap: 5px;
}

#loader h3 {
    display: inline-block;
    padding-bottom: 16rem;
    font-family: Inter;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--content);
    padding-bottom: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    visibility: hidden;
}

.transiline {
    display: block;
    overflow: hidden;
    position: relative;
}














/* Nav */

nav {
    display: flex;
    justify-content: unset;
}

nav h3 {
    margin-top: 35px;
    margin-right: 2vw;
    font-family: Inter;
    font-size: 1.125rem;
    line-height: 1.25;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: -1px;
    display: inline-block;
    color: var(--content);
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.3s;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    transform: translateY(0);

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: var(--content);
        transition: all 750ms ease;
    }

    &:before {
        transform: translateX(-200%);
    }

    &:hover {
        &:before {
            transform: translateX(0%);
        }

        &:after {
            transform: translateX(200%);
        }
    }
}

.arrowicontop {
    width: auto;
    height: 12px;
    fill: var(--content);
    transition: all ease 0.4s;
}

.arrowiconbot {
    width: auto;
    height: 12px;
    fill: var(--content);
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 740px) {

    nav {
        justify-content: space-between;
        margin: 0 5vw;
    }

    nav h3 {
        margin-right: 0%;
        margin-bottom: 10vw;
        margin-top: 2vw;
    }


}


















/* Sidenav */


.sidebar-structure {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    color: var(--contenttransparent);
    box-sizing: border-box;
    z-index: 8;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    pointer-events: none;
}

.sidebar-structure-sides {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    color: var(--contenttransparent);
    pointer-events: none;
    box-sizing: border-box;
    flex: 1;
    align-self: flex-start;
    padding: 5vw 4vw 0 4vw;
}

.sidebar-structure-middle {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    color: var(--contenttransparent);
    pointer-events: none;
    box-sizing: border-box;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}

.sidebar-content {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    color: var(--contenttransparent);
    box-sizing: border-box;
    z-index: 8;
    justify-content: center;
    align-items: flex-start;
    top: 0%;
    bottom: 0%;
    left: 0%;
    width: max-content;
    right: auto;
    grid-row-gap: 1.875rem;
    flex-direction: column;
    padding-left: 0;
    display: flex;
    position: relative;
    pointer-events: auto;
    opacity: 1;
}

.sidebar-nav {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    color: var(--contenttransparent);
    box-sizing: border-box;
    z-index: 8;
    justify-content: center;
    align-items: flex-start;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: max-content;
    grid-row-gap: 1.875rem;
    flex-direction: column;
    padding-left: 0;
    display: flex;
    position: relative;
    pointer-events: auto;
    opacity: 1;
}


.text-projectpage-overline {
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    box-sizing: border-box;
    color: var(--content);
    text-align: left;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    margin-top: 1px;
    line-height: 18px;
}

.sidebar-chapters-wrapper {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    pointer-events: auto;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    grid-row-gap: 0.875rem;
    align-self: flex-start;
    align-items: flex-start;
    position: relative;
}

.chapter {
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    box-sizing: border-box;
    max-width: 100%;
    display: inline-block;
    color: var(--contenttransparent) !important;
    text-decoration: none;
    letter-spacing: .4px;
    align-self: stretch;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    line-height: 17px;
    transition: all .2s linear;
}

.sidebar-nav h3 {
    font-family: Inter;
    font-size: 1.125rem;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: -1px;
    display: inline-block;
    color: var(--content);
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.3s;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    transform: translateY(0);

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: var(--content);
        transition: all 750ms ease;
    }

    &:before {
        transform: translateX(-200%);
    }

    &:hover {
        &:before {
            transform: translateX(0%);
        }

        &:after {
            transform: translateX(200%);
        }
    }
}

@media screen and (max-width: 1280px) {

    .sidebar-structure {
        display: none;
    }

}

@media screen and (max-width: 740px) {}
























/* Footer */

.darkcircle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--content);
    align-self: center;
    cursor: pointer;
    transition: all ease 0.4s;
}

footer {
    height: 100%;
    width: auto;
    margin: 0vw 15vw;
}

footer h3 {
    font-family: Inter;
    display: inline;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

footer h4 {
    font-family: Inter;
    display: inline;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: right;
    margin-left: 1vw;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#socials br {
    display: none;
}

#legal2 br {
    display: none;
}

footer #line1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer #line2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer #socials {
    padding-top: 0.8vw;
}

footer #legal2 {
    padding-top: 0.8vw;
}

footer h2 {
    font-family: Inter;
    font-size: 1.125rem;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: -1px;
    margin-right: 1vw;
    display: inline-block;
    color: var(--content);
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.3s;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    transform: translateY(0);

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: var(--content);
        transition: all 750ms ease;
    }

    &:before {
        transform: translateX(-200%);
    }

    &:hover {
        &:before {
            transform: translateX(0%);
        }

        &:after {
            transform: translateX(200%);
        }
    }
}

#marge {
    height: 5vw;
}

#extra {
    position: absolute;
    left: 50%;
    bottom: 5vw;
    transform: translate(-50%, 0%);
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#extra p {
    color: var(--contenttransparent);
    transition: all ease 0.4s;
}


@media screen and (max-width: 1280px) {
    footer h4 {
        line-height: 30px;
    }

    footer #socials {
        padding-top: 0.2vw;
    }

    footer #legal2 {
        padding-top: 0vw;
        text-align: end;
    }

    footer h2 {
        margin-right: 1vw;
        line-height: 30px;
    }

    #socials br {
        display: unset;
    }

    #legal2 br {
        display: unset;
    }
}

@media screen and (max-width: 740px) {

    .mobilefooter {
        display: grid;
    }

    footer {
        height: 100%;
        width: auto;
        margin: 0vw 5vw;
        padding-bottom: 5vw;
    }

    footer h3 {
        display: inline;
    }

    footer h4 {
        display: inline;
        text-align: right;
        margin-left: 0vw;
    }

    #socials br {
        display: none;
    }

    #legal2 br {
        display: none;
    }

    footer #line1 {
        width: 100%;
        display: grid;
        justify-content: center;
        padding-bottom: 5px;
    }

    footer #line2 {
        width: 100%;
        display: grid;
        justify-content: center;
    }

    footer #socials {
        padding-top: 0.8vw;
        padding-bottom: 6px;
    }

    footer #legal2 {
        padding-top: 0vw;
    }

    #marge {
        height: 5vw;
    }

    #email {
        text-align: center;
    }

    #legal1 {
        text-align: center;
    }

    #extra {
        display: contents;
        text-align: center;
    }

    #darkmode {
        display: disable;
        padding-bottom: 10vw;
        padding-top: 5vw;
    }

    .footerdarkmode {
        display: grid;
    }

    .darkcircle {
        position: relative;
    }

}















/* Vimeo popup */

/* overlay at start */
.mfp-fade.mfp-bg {
    background: var(--overlayoff);
    backdrop-filter: blur(0px);
    opacity: 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    background: var(--overlayon);
    backdrop-filter: blur(2px);
    opacity: 1;
}

.mfp-content {
    z-index: 99999999999999999;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    background: var(--overlayoff);
    backdrop-filter: blur(0px);
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

/* disable cross */
.mfp-iframe-holder .mfp-close {
    opacity: 0;
}

.mfp-bg {
    z-index: 100;
}

.player {
    z-index: 999999;
}



















/* Index */

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../images/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .7;
    visibility: visible;
    z-index: -99;
    clip-path: url(#container);
}

.bggrid {
    content: "";
    height: 100%;
    width: 100vw;
    position: absolute;
    background:
        linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin,
        linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
    mask: linear-gradient(-15deg, transparent 30%, var(--background));
    top: 0;
    z-index: -1;
    transform: translate3d(0, 0, -100vmin);
    transition: all 0.3s ease;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

#container {
    height: 100%;
    width: auto;
    background-color: var(--container);
    padding: 5vw 5vw 3vw 5vw;
    margin: 0vw 5vw 5vw 5vw;
    border: solid;
    border-color: var(--border);
    border-width: 1px;
    border-radius: 20px;
    transition: all ease 0.4s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    overflow: hidden;
    /* Hide overflow to optimize rendering */
}





















/* Index header */

#header {
    display: flex;
    justify-content: space-between;
}

#content {
    width: 50%;
}

#reel {
    width: 50%;
    cursor: pointer;
    transition: all ease 0.4s;
    border-radius: 12px;
    translate: 0;
}

#reel:hover {
    translate: 0 -0.8vw;
    transition: all ease 0.4s;
}

#playcontainer {
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
    transition: all ease 0.4s;
}

#playbg {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    display: flex;
    z-index: 1;
    border-radius: 100%;
    background-color: var(--blurbg);
    opacity: 1;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: all ease 0.4s;
}

.playicon {
    width: 16px;
    height: 18px;
    fill: rgb(5, 3, 21, 1);
    transition: all ease 0.4s;
}

#video {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    outline: solid;
    outline-width: 1px;
    outline-color: var(--border);
}

#video:hover {
    transition: all ease 0.4s;
    outline-color: var(--borderhover);
}

#profil {
    display: flex;
    justify-content: flex-start;
}

#nickname {
    padding-left: 20px;
    align-content: center;
}

#avatar a {
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
}

.available {
    display: flex;
}

#pp {
    width: 13vh;
    height: 13vh;
    border-radius: 100%;
    border: solid;
    border-color: var(--border);
    border-width: 1px;
    z-index: 1;
}

#storie {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

#header h1 {
    font-family: Inter;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--content);
    padding-bottom: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#header h5 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    opacity: 50%;
    padding-left: 7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#description h2 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    width: 100%;
    transition: all ease 0.4s;
}

#description h3 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.25;
    margin-right: 11vw;
    color: var(--content);
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    width: 100%;
    transition: all ease 0.4s;

}

#description h4 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    margin-right: 13vw;
    color: var(--content);
    padding-top: 15px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    width: 100%;
    transition: all ease 0.4s;
}

.pulse {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00B22B;
    box-shadow: #00b22a7d;
    animation: pulse 2s infinite;
    align-self: center;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #00b22a7d;
    }

    70% {
        -webkit-box-shadow: 0 0 0 5px #00b22a00;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 #00b22a00;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #00b22a7d;
        box-shadow: 0 0 0 0 #00b22a7d;
    }

    70% {
        -moz-box-shadow: 0 0 0 5px #00b22a00;
        box-shadow: 0 0 0 5px #00b22a00;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #00b22a00;
        box-shadow: 0 0 0 0 #00b22a00;
    }
}

/* Responsive */

@media screen and (max-width: 1280px) {
    #header {
        display: flex;
        justify-content: space-between;
    }

    #reel {
        width: calc(50% - 2vw);
    }

    #video {
        object-fit: cover;
        height: -webkit-fill-available;
    }

    #description h3 br {
        display: none;
    }

    #description h3 {
        margin-right: 5vw;
    }
}

@media screen and (max-width: 740px) {

    #header {
        justify-content: space-between;
    }

    #content {
        width: 100%;
    }

    #avatar {
        position: relative;
    }

    #avatar a {
        pointer-events: all;
    }

    #avatarcenter {
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #pp {
        position: absolute;
        border: none;
        outline: solid;
        outline-color: var(--containersolid);
        outline-width: 4px;
        z-index: 1;
        width: 87px;
        height: 87px;
    }

    #description h3 {
        margin-right: 0;
    }

}






















/* Index content */

#work {
    height: auto;
    /* Hauteur automatique */
    display: flex;
    padding-top: 5vw;
    flex-wrap: wrap;
    /* Permet aux éléments de passer à la ligne */
    justify-content: space-between;
}

#work .box {
    height: 100%;
    /* Hauteur fixe pour les boîtes */
    width: calc(33.33% - 2vw);
    /* Largeur calculée pour prendre environ un tiers de l'espace, moins un espace de marge */
    margin-bottom: 2vw;
    /* Espacement entre les boîtes */
    position: relative;
    background-color: var(--box);
    border: solid;
    border-color: var(--border);
    border-width: 1px;
    border-radius: 12px;
    cursor: pointer;
    transition: all ease 0.4s;
    -webkit-tap-highlight-color: transparent;
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);*/
}

#work .box:hover {
    translate: 0 -0.8vw;
    transition: all ease 0.4s;
    border-color: var(--borderhover);
}

#cover {
    width: 100%;
    object-position: center;
}

.box video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    transition: all ease 0.4s;
}

.box img {
    position: absolute;
    width: 100%;
    z-index: 99;
    object-fit: contain;
    pointer-events: none;
    transition: all ease 0.5s;
    border-radius: 12px;
}

#work .box:hover img {
    opacity: 0;
}

#work .box .project {
    position: absolute;
    margin: 2vw;
    transition: all ease-out 0.3s;
}

#work h3 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    padding-top: 0.8vw;
    padding-left: 1.2vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#work .box h5 {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#work .box h6 {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: right;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
}

#details {
    padding: 0.3vw 1.2vw 1.2vw 1.2vw;
    display: flex;
    justify-content: space-between;
}

/* Responsive */

@media screen and (max-width: 1280px) {
    #work .box {
        width: calc(50% - 2vw);
        /* Pour les écrans plus petits, deux boîtes par ligne */
        margin-bottom: 4vw;
        /* Espacement entre les boîtes */
    }

    #container {
        padding: 5vw 5vw 3vw 5vw;
    }

    #details {
        padding: 0.5vw 1.5vw 1.5vw 1.5vw;
    }

    #work h3 {
        padding-top: 1vw;
        padding-left: 1.5vw;
    }
}

@media screen and (max-width: 740px) {
    #work .box {
        width: calc(100%);
        /* Pour les écrans très petits, une boîte par ligne */
        margin-bottom: 5vw;
        /* Espacement entre les boîtes */
    }

    #container {
        padding: 5vw 5vw 0vw 5vw;
    }

    #work {
        padding-top: 10vw;
    }

    #work .box {
        margin-bottom: 10vw;
    }

    #details {
        padding: 1vw 3vw 3vw 3vw;
    }

    #work h3 {
        padding-top: 2vw;
        padding-left: 3vw;
    }
}













/* About */


#aboutheader {
    display: flex;
    justify-content: space-between;
}

#pageview {
    width: 100vw;
    height: 100%;
    padding: 0 17.5vw;
}

#picleft {
    height: 55vh;
    width: calc(50% - 2.5vw);
}

canvas {
    display: block;
}

#imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 100%;
    filter: saturate(1);
    transition: all ease 0.5s;
}

#imageContainer:hover {
    filter: saturate(50%);
}

#imageContainer>* {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

#descright {
    width: calc(50% - 2.5vw);
    padding-top: 5vw;
}

#descright h4 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
}

#descright h4 span {
    color: var(--content);
    transition: all ease 0.4s;
}

#story {
    display: block;
}

#rightcolumnstory img {
    height: 35vh;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
    transition: all ease 0.5s;
}

#contentcolumnstory img {
    height: 35vh;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
    transition: all ease 0.5s;
}

.storycontent {
    width: 100%;
    padding-top: 10vw;
    display: flex;
    justify-content: space-between;
}

.storycontent h5 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
    padding-bottom: 20px;
}

#storytitle {
    padding-top: 5vw;
}

#storytext {
    height: auto;
    width: calc(50% - 2.5vw);
}

#storytext h5 br {
    display: none;
}

#lefttext h5 br {
    display: none;
}

#righttext {
    height: auto;
    width: calc(50% - 2.5vw);
}

#contentcolumnstory {
    height: auto;
}

#contentcolumnstory h6 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
}

#contentcolumnstory h4 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
    padding-top: 10px;
}

#contentcolumnstory h6 span {
    color: var(--content);
    transition: all ease 0.4s;
}

#contentcolumnstory h4 span {
    color: var(--content);
    transition: all ease 0.4s;
}

#imghover {
    cursor: pointer;

    mask-image: linear-gradient(110deg,
            rgba(0, 0, 0, 0.7) 40%,
            black 50%,
            rgba(0, 0, 0, 0.7) 60%);
    mask-size: 300%;
    animation: anim-mask 2s ease infinite;

}

@keyframes anim-mask {
    from {
        mask-position: 100%;
    }

    to {
        mask-position: 0%;
    }
}


/* LOADING DOTS */
span .one {
    opacity: 0;
    -webkit-animation: dot 2s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 2s infinite;
    animation-delay: 0.0s;
}

span .two {
    opacity: 0;
    -webkit-animation: dot 2s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 2s infinite;
    animation-delay: 0.2s;
}

span .three {
    opacity: 0;
    -webkit-animation: dot 2s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 2s infinite;
    animation-delay: 0.3s;
}

@keyframes dot {

    /* ADD @-webkit-keyframes for webkit support */
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    84% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



#rightcolumnstory {
    height: auto;
    width: calc(50% - 2.5vw);
}

#rightcolumnstory h6 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
}


#rightcolumnstory h6 span {
    color: var(--content);
    transition: all ease 0.4s;
}

#imgbehind {
    position: absolute;
    width: 150px;
    height: 192px;
    top: -96px;
    left: 45px;
    transform: scale(0) translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
    z-index: 99;
}

#webglpixeleffect {
    opacity: 0;
}

.schoolcontent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.schoolintro {
    padding-top: 5vw;
    padding-bottom: 40px;
}

.schoolcontent h5 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
    padding-bottom: 10px;
}

.school {
    padding-bottom: 10px;
}

#schooltitle {
    padding-top: 5vw;
}


.xpintro {
    padding-top: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.xpintro h5 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
    padding-bottom: 10px;
}

.xp {
    padding-top: 10px;
    padding-bottom: 10px;
}

#xptitle {
    padding-top: 5vw;
    padding-bottom: 40px;
}

.xpgrid {
    display: flex;
    justify-content: space-between;
}

.xpcontent {
    height: 100%;
    width: calc(50% - 2.5vw);
}

.xpdata {
    width: calc(50% - 2.5vw);
    height: auto;
    display: grid;
    align-items: center;
}


#xpdatatitles {
    padding-bottom: 20px;
}

#xpdatatitles h5 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
}

.xpcards {
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* change the keyword to auto-fit to see the difference in layout*/
    padding-bottom: 40px;
}

.xpcards li {
    background-color: var(--containersolid);
    border: 1px solid var(--borderhover);
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.25;
    transition: opacity 0.4s ease;
}

.xpcards li.hovered {
    opacity: 1;
}

.xpcards li h2{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease 0.4s;
    opacity: 100%;
}










.xpcolumn {
    width: 100%;
    height: 100%;
}

.xpdivider {
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    backdrop-filter: invert(1) grayscale(1);
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.8s cubic-bezier(0.67, 0.01, 0.27, 1);
    padding-left: 10px;
}

.xpcolumn:hover .xpdivider {
    transform: scaleY(95);
}

.xpcolumn:hover h5 {
    transform: translate(20px, 0px);
    transition: transform 0.8s cubic-bezier(0.67, 0.01, 0.27, 1);
}

.xpcolumn:hover h6 {
    transform: translate(20px, 0px);
    transition: transform 0.8s cubic-bezier(0.67, 0.01, 0.27, 1);
}

.xpcolumn h5 {
    padding-top: 20px;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--content);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 100%;
    padding-bottom: 10px;
    transition: transform 0.8s cubic-bezier(0.67, 0.01, 0.27, 1);
}

.xpcolumn h6 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--contenttransparent);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 100%;
    padding-bottom: 20px;
    transition: transform 0.8s cubic-bezier(0.67, 0.01, 0.27, 1);
}








.accordion:hover .accordion-item:hover h5 svg,
.accordion .accordion-item--default h5 svg {
    transform: rotate(0deg);
}

.accordion:hover .accordion-item:hover h5 svg {
    transform: rotate(90deg);
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    max-height: 100%;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    max-height: 0%;
    overflow: hidden;
    transition: max-height 0.6s;
}






@media screen and (max-width: 1280px) {

    #pageview {
        padding: 0 10vw;
    }

    #descright {
        padding-top: 0vw;
    }

    .tabletnav h3 {
        margin-bottom: 35px;
        margin-top: 15px;
        margin-right: 2vw;
        font-family: Inter;
        font-size: 1.125rem;
        line-height: 1.25;
        cursor: pointer;
        font-weight: 400;
        letter-spacing: -1px;
        display: inline-block;
        color: var(--content);
        width: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: all ease 0.3s;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
        transform: translateY(0);

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: var(--content);
            transition: all 750ms ease;
        }

        &:before {
            transform: translateX(-200%);
        }

        &:hover {
            &:before {
                transform: translateX(0%);
            }

            &:after {
                transform: translateX(200%);
            }
        }
    }

    #imghover {

        mask-image: none;

    }

    .accordion:hover .accordion-item .accordion-item-content,
    .accordion .accordion-item--default .accordion-item-content {
        max-height: fit-content;
    }

    .accordion-item-content,
    .accordion:hover .accordion-item-content {
        max-height: fit-content;
        overflow: hidden;
        transition: max-height 0.7s;
    }

    .accordion:hover .accordion-item h5 svg,
    .accordion .accordion-item--default h5 svg {
        transform: rotate(90deg);
    }

    .accordion .accordion-item svg {
        transform: rotate(90deg);
    }

    .xpdata {
        display: none;
    }

    .xpcontent {
        width: 75%;
    }

    .xpdivider {
        background: var(--border);
    }

    .xpcolumn:hover .xpdivider {
        transform: scaleY(1);
    }

    .xpcolumn:hover h5 {
        transform: translate(0px, 0px);
    }
    
    .xpcolumn:hover h6 {
        transform: translate(0px, 0px);
    }

}

@media screen and (max-width: 740px) {

    .storycontent {
        display: grid;
    }

    #storytext {
        width: 100%;
        padding-bottom: 60px;
    }

    #storytitle {
        padding-top: 10vh;
    }

    #rightcolumnstory {
        width: 100%;
    }

    #aboutheader {
        display: grid;
    }

    #picleft {
        width: 100%;
        height: 35vh;
    }

    #descright {
        width: 100%;
        padding-top: 10vw;
    }

    .schoolcontent {
        display: grid;
    }

    .schoolintro {
        padding-top: 10vh;
    }

    .xpintro {
        padding-top: 10vh;
    }

    #storytext h5 br {
        display: block;
    }

    #lefttext h5 br {
        display: block;
    }

    #webglpixeleffect {
        opacity: 1;
        border-radius: 10px;
        object-fit: cover;
    }

    #imageContainer canvas {
        display: none;
    }

    #imageContainer:hover {
        filter: none;
    }

    .xpcontent {
        width: 100%;
    }

}